<h1>DREAM BURGER!</h1>

<h2>Burgers that are still here and ready to be devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devourIt=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devourIt=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Dream Burger of your very own!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bk">Burger Name:</label>
    <input type="text" id="bk" name="burger_name">
  </div>

  <div class="form-group">
    <label for="eat">Immediately Devour this Burger?</label><br>
    <input type="radio" name="eat" value="1" checked> EAT IT!<br>
    <input type="radio" name="eat" value="0"> Save it.
  </div>

  <button type="submit">Add to the Menu</button>
</form>
