<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-changeState="{{devourIt}}">
		{{#if devourIt}}EAT THIS BURGER!{{else}}Dream this Burger back into Existence!{{/if}}
	</button>

</li>
 